 List ,Tuple, Dictionary

In [1]:
# Create Following list and Apply some Operation.
# QUESTION 1
L1 = [1,2,3,4, ["python","java","c++",(10,20,30)],5,6,7,["apple","banana","orange"]]
L1[4][3][2]

30

In [2]:
L1[8][2][5]

'e'

In [3]:
L1[4][0][4]

'o'

In [4]:
# QUESTION 2
t1=(1,2,3,['hello',10,20,30,"world"],4,5,6,("one","two",100,200,300))
t1[7][1][2]

'o'

In [5]:
t1[3][4][2]

'r'

In [6]:
t1[5]

5

In [7]:
# QUESTION 3
# Write a Python program to create a dictionary from a string. Note: Track the count of the
# letters from the string.
# Sample string: 'this is string'
arr = "this is string"
dict = {}
for i in arr:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
count = str(dict)
print(count)

{'t': 2, 'h': 1, 'i': 3, 's': 3, ' ': 2, 'r': 1, 'n': 1, 'g': 1}

Condition and Looping

In [8]:
# 1. Enter the student marks: if marks >=70 grade are 'A'
# marks between 60 and 70 grades are 'B'
# marks between 50 and 60 grades are 'C'
# marks between 40 and 50 grades are 'D'
# otherwise grade is 'E'
n = float(input("Enter the value of marks \n"))
if n > 100:
    print("Enter the valid marks")
elif n >= 70:
    print(f"Your Grade for {n} marks is : Grade A")
elif 70 < n < 60:
    print(f"Your Grade for {n} marks is : Grade B")
elif 60 < n < 50:
    print(f"Your Grade for {n} marks is : Grade C")
elif 50 < n < 40:
    print(f"Your Grade for {n} marks is : Grade D")
else:
    print(f"Your Grade for {n} marks is : Grade E")

Enter the value of marks
85
Your Grade for 85.0 marks is : Grade A

In [9]:
# 2. Patten Using Python
str1 = "python"
n = len(str1)
# Upper Patten
for i in range(0,n+1):
    for j in range(0,i):
        print(str1[j],end="")
    print("")
# lower Patten
for i in range(1,n):
    for j in range(n-i):
        print(str1[j],end="")
    print("")

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

In [10]:
for x in range(0, 11):
    print("")
    for y in range(0, 11):
        print(x * y, end="  ")

0  0  0  0  0  0  0  0  0  0  0
0  1  2  3  4  5  6  7  8  9  10
0  2  4  6  8  10  12  14  16  18  20
0  3  6  9  12  15  18  21  24  27  30
0  4  8  12  16  20  24  28  32  36  40
0  5  10  15  20  25  30  35  40  45  50
0  6  12  18  24  30  36  42  48  54  60
0  7  14  21  28  35  42  49  56  63  70
0  8  16  24  32  40  48  56  64  72  80
0  9  18  27  36  45  54  63  72  81  90
0  10  20  30  40  50  60  70  80  90  100

File management

In [23]:
# Question 1 - Create a file program. Find odd or even number. Odd number are Add to odd.txt file. And even
# number are stored an even.txt file.
num = int(input("Enter a number: "))
if num % 2 > 0:
    print("This is an odd number.")
    print("This number will be stroed in odd.txt file ")
    file_object = open('odd.txt', 'a')
    with open("odd.txt", "a+") as file_object:
        odd = str(num)
        file_object.write(odd)
else:
    print("This is an even number.")
    print("This number will be stroed in even.txt file ")
    file_object = open('even.txt', 'a')
    with open("even.txt", "a+") as file_object:
        even = str(num)
        file_object.write(even)

Enter a number: 12
This is an even number.
This number will be stroed in even.txt file

In [ ]:
# Question 2 - Read the names of student from student.txt. Read Two subject marks Marks.txt And create file
# named results.txt. in this file store name and total marks of student.